/AccountOwnerServer/obj
/AccountOwnerServer/bin
/AccountOwnerServer/Projects
/Contracts/obj
/Contracts/bin
/Entities/obj
/Entities/bin
/LoggerService/obj
/LoggerService/bin
/Repository/obj
/Repository/bin
/Tests/bin
/Tests/obj
publish
/.vs
/AccountOwnerServer/internallog.txt
/Integration/obj
/Integration/bin
/AccountOwnerServer/*.user
/Tests/*.user
/Integration/*.user
